* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;

}

i {
    display: flex;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/4853433.jpg');
    background-size: cover;
    background-position: center;

    >section {
        width: 880px;
        height: 500px;
        border-radius: 8px;
        position: relative;

        >div {


            input {
                width: 250px;
                height: 45px;
                padding-left: 20px;
                margin: 15px 0;
                border: 1px solid #1f1567;
                border-radius: 8px;
                padding-right: 40px;
                transition: 400ms;

                &:focus-visible {
                    outline: none;
                }
            }

            button {
                width: 250px;
                height: 45px;
                border-radius: 8px;
                border: 0;
                background-color: #1f1567;
                color: antiquewhite;
                text-shadow: 0 0 10px black;
                font-size: 14px;
                margin-top: 15px;
                cursor: pointer;
                overflow: hidden;
                position: relative;
                transition: 1s;
            }

            p {
                color: #5b5583;
                font-size: 9px;
                text-align: justify;
                margin-top: 20px;
                width: 250px;
            }

            &:nth-of-type(1) {
                left: 0;

            }

            &:nth-of-type(2) {
                transition: 1s;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                height: fit-content;
                padding: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background: #ffffff;
                // border: 1px solid;
                height: 350px;

                >div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

            }

            &:nth-of-type(3) {
                transition: 1s;
                position: absolute;
                left: -25px;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 350px;
                width: 100px;
                background-color: white;
                border-left: 4px solid #3e66ff;

                i {
                    font-size: 30px;
                    color: #2511a7;
                }

                span {
                    font-size: 15px;
                    margin-top: 15px;
                    color: #302461;
                }
            }
        }
    }

    aside {
        position: fixed;
        left: -290px;
        top: 0;
        background-color: white;
        width: 290px;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        transition: 500ms;
        z-index: 50;

        h4 {
            margin-top: 100px;
            margin-bottom: 40px;
        }

        span {
            font-size: 12px;
            margin: 10px 0;
        }
    }
}

.error {
    color: red;
    display: none;
}

.parent-user {
    width: 100%;
    min-height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    position: relative;
    background: white;
    padding: 0 25px;
    border-radius: 30px;
    box-shadow: 0 0 5px #c5c5c595;

    b {
        margin-right: 5px;
    }

    >figure {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        left: 50%;
        top: -75px;
        transform: translateX(-50%);
        position: absolute;
        outline: 8px solid white;
        border: 4px solid #f5f5ff00;

        img {
            width: 100%;
            height: 100%;
        }
    }

    >h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    p,
    address {
        color: #241b5a;
        font-size: 12px;
        text-align: left;
        margin-top: 10px;
        width: 300px;
        display: flex;

        i {
            margin-right: 8px;
            color: #3e66ff;
        }
    }
}

#output {
    display: flex;
    background-color: #3e66ff;
    height: 100%;
    width: 500px;
    left: 75px;
    position: absolute;
    z-index: 5;
    padding: 10px 35px;
    transform: translateX(0);
    transition: 1s;
    overflow: hidden;

    >h2 {
        transition: 1s;
        margin-top: 30px;
        color: white;
        position: absolute;
    }


    >figure {
        left: 50%;
        top: 57%;
        width: 440px;
        position: absolute;
        transform: translate(-50%, -50%);
        transition: 3s;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.inp-parent {
    position: relative;
    display: flex;
    align-items: center;

    label {
        position: absolute;
        left: 12px;
        font-size: 13px;
        color: #312389;
        font-weight: bold;
        transition: 400ms;
    }

    i {
        position: absolute;
        right: 15px;
    }
}


#sign-in {
    transition: .5s;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    letter-spacing: 1;
}

#spinner {
    transition: .5s;
    position: absolute;
    left: 47.5%;
    transform: translate(-50%, -50%);
    top: -45%;
    animation: rotateSpin infinite 2s;

    i {
        color: #ffff;
    }
}

#error {
    color: red;
    font-size: 12px;
    width: 100%;
}

#error,
#check {
    transition: .5s;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: -35%;

    i {
        color: #ffff;
        font-size: 45px;
    }
}

@keyframes rotateSpin {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(3600deg)
    }
}


.user-info {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 120%);
    transition: 2s ease-in-out;
    position: absolute;
}

.bg-users {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 1s;
    transition-delay: 1.5s;
    transform: scale(0);

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}


.open {
    position: absolute;
    right: -30px;
    background: white;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    top: 50px;
    border-radius: 7px;
    font-size: 18px;
    color: #3e66ff;
    cursor: pointer;
}

